
.navbar-brand{
  padding-bottom: 5px;
  color: white;
}

Nav {
  min-width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: none;
  flex-direction: column;
  padding-bottom: 10px;
  background: rgba(255, 255, 255, 0.18);
  border-radius: 3px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border: 1px solid rgba(255, 255, 255, 0.25);
}


.navbar-brand{
  font-family:Arial, Helvetica, sans-serif;
}

