.App {
  align-items: center;
}

.row {
  justify-content: center;
}

.footer {
  font-size: x-small;
  text-align:center;
  justify-content: center;
}

.linkedin{
  color: white;
}

.linkedin:hover{
  color:#264653
}

.linkedin:visited{
  color:white;
}